* {
  box-sizing: border-box;
}

:root {
  --red: #f05542;
  --light-red: #f7e0dd;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
}

button {
  cursor: pointer;
}
