.mapContainer {
  width: 100vw;
  height: 100vh;
}

.zoom {
	position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.zoom > button {
  height: 1.8em;
  width: 1.8em;
}

.scaleLine {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 2px;
  background: var(--ol-partial-background-color);
  border-radius: 4px;
}
